@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,600&display=swap');
body{
background-color: #b3e5fc;
border-radius: 10px;
font-family: "Raleway", sans-serif;
overflow-x: hidden;
}
h2{
text-align: center;
margin: 20px 0;
}
.rgb{
font-size: 1.5rem;
text-transform: capitalize;
}
.textLeft{
text-align: left;
}
.card{
width: 350px;
border: none;
border-radius: 10px;
background-color: #fff;
margin: auto;
}
img{
min-width: 155px;
margin-right: 20px;
}
.stats{
background-color: #f2f5f8 !important;
color: #000 !important;

}
a{
    background-color: #000;
    color: #eee;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    box-shadow: 1px, 4px, 4px, rgba(0, 0, 0, 0.2);
}
a:hover{
    background-color: red;
    color: #eee;
}